* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #fff;
    background-color: #969393;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}



.header {
    
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    padding: 1.5rem 0;
}

.header__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo1 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #ff5722
}
.header__logo2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #12aeec
}

.header__nav-list {
    display: flex;
    gap: 2rem;
}

.header__link {
    font-size: 1.6rem;
    color: #8200ce;
}

.header__link:hover {
    color: #450868;
}

.header__cta {
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: #c215c2;
    border-radius: 1.5rem;
}

.header__cta:hover {
    background-color: #cacaca;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

.hero__title {
    font-size: 6rem;
    font-weight: bold;
}

.hero__subtitle {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.hero__button {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    
}


.hero__button:hover {
    background-color: #e64a19;
}

.tariffs,
.galery,
.advantages {
    width: 90%;
    margin: 0 auto;
    padding: 6rem 0;
    color: #050000 ;
}

.tariffs__title,
.galery__title,
.advantages__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
    color: #050000;
}

.tariffs__list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.tariffs__card {
    width: 30rem;
    background-color: #b8b8b8;
    padding: 3rem 2rem;
    border-radius: 1rem;
    text-align: center;
}

.tariffs__card--popular {
    border-color: #000000;
}
